@import './variables';
@import './semanticLink';

:local(.navbar) {
  background-color: $color-navbar;
  display: flex;
  flex-direction: column;
}

:local(.link) {
  @include semanticLink;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 70px;
  justify-content: center;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: $color-navbarHover;

    :local(.icon) {
      color: white;
    }
  }

  &:local(.link--Home) {
    background-color: $color-logo;

    &:hover {
      background-color: $color-logoHover;
    }

    :local(.icon) {
      color: white;
    }
  }
}

:local(.icon) {
  color: $color-navbarIcon;
  flex-shrink: 0;
  font-size: 20px;
  transition: color 0.1s ease-in-out;
}
