$fontFamily-roboto: 'Roboto', sans-serif;
$fontFamily-robotoMono: 'Roboto Mono', sans-serif;

$color-black: #333;
$color-gray: #999999;
$color-green: #42c88a;
$color-lightGray: #e3e3e3;
$color-lightGreen: #b5e9d1;
$color-lightRed: #fce1e1;
$color-lightShadow: rgba(black, 0.05);
$color-logo: #333;
$color-logoHover: #525252;
$color-navbar: #666;
$color-navbarHover: #858585;
$color-navbarIcon: #c2c2c2;
$color-red: #ee5c5c;
$color-shadow: rgba(black, 0.1);
$color-whiteHover: rgba(white, 0.6);
