$fontFamily-roboto: 'Roboto', sans-serif;
$fontFamily-robotoMono: 'Roboto Mono', sans-serif;

$color-black: #333;
$color-lightGray: #e3e3e3;
$color-lightGreen: #b5e9d1;
$color-lightRed: #fce1e1;
$color-lightShadow: rgba(black, 0.05);
$color-gray: #999999;
$color-green: #42c8aa;
$color-red: #ee5c5c;
$color-shadow: rgba(black, 0.1);
