@import '../common/variables';

:local(.badge) {
  align-items: center;
  border-radius: 12px;
  display: flex;
  height: 24px;

  &:local(.badge--CANCELLED) {
    background-color: $color-lightGray;
  }

  &:local(.badge--FAILED) {
    background-color: $color-lightRed;
  }

  &:local(.badge--SUCCESS) {
    background-color: $color-lightGreen;
  }
}

:local(.status) {
  margin-left: 4px;
}

:local(.text) {
  color: black;
  font-family: $fontFamily-roboto;
  font-size: 11px;
  margin-left: 10px;
  text-transform: uppercase;
}
